
@layout('base')
@section('content')
@each(fBD in festiveBakeDish)

<div class="card" style="width: 600px; margin: 20px;">
  <img class="card-img-top" src="{{fBD.image_url}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{fBD.title}}</h5>
    <p class="card-text">{{fBD.description}}</p>
    <p class="card-text">{{fBD.description_1}}</p>
     <img class="card-img-top" src="{{fBD.image_url_1}}" alt="">
      <a href="{{route('create_festive', {id:fBD.id})}}" class="btn btn-info mt-2 mb-2">Create Blog</a>
   <a href="{{route('update_festive', {id:fBD.id})}}" class="btn btn-success mt-2 mb-2">Edit Blog</a>
      <a href="{{route('delete_festive', {id:fBD.id})}}" class="btn btn-danger mt-2 mb-2">Delete Blog</a>
  </div>
</div>
@endeach
@endsection

