@layout('base')
@section('content')
@each(ms in mainSide)
<div class="card" style="width: 600px; margin: 20px;">
  <img class="card-img-top" src="{{ms.image_url}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ms.title}}</h5>
    <p class="card-text">{{ms.description}}</p>
    <p class="card-text">{{ms.description_1}}</p>
     <img class="card-img-top" src="{{ms.image_url_1}}" alt="">
       <a href="{{route('create_dishes', {id:ms.id})}}" class="btn btn-info mt-2 mb-2">Create Blog</a>
     <a href="{{route('update_dishes', {id:ms.id})}}" class="btn btn-success mt-2 mb-2">Edit Blog</a>
      <a href="{{route('delete_dishes', {id:ms.id})}}" class="btn btn-danger mt-2 mb-2">Delete Blog</a>
  </div>
</div>
@endeach
@endsection
