@layout('base')
@section('content')
<form method="POST">
  {{csrfField()}}
  <h2>Update Post : {{mainSide.title}}</h2>
   <div>
  <label class="form-label">Category</label>
  <select class="form-control mb-3" name="category" value="{{mainSide.category}}" >
     <option value="Soup">Soup</option>
    <option value="OnePotDish">One Pot Dish</option>
    <option value="Vegetable">Vegetables</option>
    <option value="Pork">Pork</option>
    <option value="Chicken">Chicken</option>
    <option value="Egg">Eggs</option>
  </select>
</div>
<div>
  <label class="form-label">Title</label>
  <input type="text" name="title" class="form-control mb-3" value="{{mainSide.title}}"/>
</div>
<div>
  <div>
  <label class="form-label">Description</label>
  </div>
 <textarea name="description"cols="260" rows="10">{{mainSide.description}}</textarea>
</div>
    <div>
      <a href="#" class="btn btn-primary mt-3 mb-3" id="upload_widget">Upload Image</a>
      <input type="hidden" name="image_url" id="image_url"/>
      <img src="" id="uploaded_image" height="250" width="250" style="display:none" value="{{mainSide.image_url}}"/>
    </div>
    <div>
 <textarea name="description_1" value="" cols="260" rows="10">{{mainSide.description_1}}</textarea>
    </div>
   <div>
<textarea name="description_2" value="" cols="260" rows="10">{{mainSide.description_2}}</textarea>
   </div>
<input type="submit" value="Submit" class="btn btn-primary mt-3"/>
</form>
@endsection
